
@{
    ViewData["Title"] = "Главная";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mb-4">Добро пожаловать на сайт TODO</h1>
                <p class="lead">Здесь вы можете создавать свои задачи и отмечать их выполнение.</p>
                <p>Просто добавьте новую задачу, отметьте её выполнение, и ваш список дел всегда будет под рукой.</p>
                <div class="mt-4">
                    <a asp-action="Index" asp-controller="Tasks" class="btn btn-primary ">Начать работу</a>
                </div>
            </div>
        </div>
    </div>
</div>





